on:
  # Trigger analysis when pushing in master or pull requests, and when creatin
  # a pull reque
  push:
    branches:
      - "*"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

name: sonar Workflow
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporti
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
